/*
	Created by IceSandwich
    https://github.com/IceSandwich/
*/

:root {
  --control-bottons-width: 150px;
  --narrow-space: 2px;
}

#TabsToolbar { /* 标签栏 */
  padding-top: 44px !important;

  /* 去掉这个背景，可适应当前主题 */
  background-image: linear-gradient(rgb(212,212,212),rgb(174,173,173));
}

#TabsToolbar .titlebar-buttonbox-container { /* 最大最小化关闭按钮 */
  margin-top: -44px !important;
  margin-bottom: 44px !important;
  padding-left: 20px;
}

#nav-bar { /* 长导航栏 */
  background-color: transparent !important;
  margin-right: var(--control-bottons-width) !important;
  margin-top  : calc(-88px + var(--narrow-space)) !important;
  height      : 44px !important;
  margin-bottom: calc(44px - var(--narrow-space) - 2px) !important;
  padding-top: 6px;
}

#back-button { /* 回退按钮 */
  list-style-image: url("icons/arrow-back-1x.svg") !important;
}

#forward-button { /* 前进按钮 */
  list-style-image: url("icons/arrow-right-s-line.svg") !important;
}

#reload-button { /* 刷新按钮 */
  list-style-image: url("icons/refresh-1x.svg") !important;
}

#urlbar-input-container { /* url 地址栏 + 搜索栏 文字 */
  text-align: center;
}

#tracking-protection-icon-container { /* 跟踪器按钮 */
  display: none;
}

#PanelUI-menu-button { /* 菜单 按钮 */
  list-style-image: url("icons/menu.svg") !important;
}

#pageActionButton { /* 页面操作 按钮 */
  display: none;
}

#identity-box[pageproxystate="invalid"].verifiedDomain #identity-icon { /* 搜索栏 图标 放大镜 */
  list-style-image: url("icons/search.svg") !important;
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon { /* 搜索栏 图标 锁 */
  list-style-image: url("icons/lock.svg") !important;
}

#TabsToolbar .tab-background { /* 标签 背景 */
  position: relative !important;
  box-shadow: none !important;
  opacity: 1 !important;
  border: none !important;
  outline: none !important;
  margin-block: 0 !important;
  border-radius: 0 !important;
}

#scrollbutton-down, #scrollbutton-up, spacer[part="overflow-end-indicator"], spacer[part="overflow-start-indicator"] { /* 标签滚动条 */
  display: none;
}

#TabsToolbar .tab-background:is([selected], [multiselected]) .tab-context-line { /* 激活标签页 帽子 */
  height: 3px;
  background-color: #694ec8;
}

#TabsToolbar .tab-background:is([selected], [multiselected]) { /* 激活标签页 背景 */
  box-shadow: none !important;
}

#TabsToolbar .tabbrowser-tab:not([selected]) .tab-close-button { /* 非激活标签页 关闭按钮 */
  display: none;
}

#tabbrowser-arrowscrollbox { /* 标签页 容器 */
  display: inline-grid;
}

#TabsToolbar-customization-target { /* 标签页长度 */
  margin-right: calc(var(--control-bottons-width) * -1);
}

#TabsToolbar .tabbrowser-tab:not([selected]) .tab-content { /* 非激活标签页 图标居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.private-browsing-indicator { /* 隐身模式图标 */
  display: none;
}
